PORT=5000
MONGO_URI=mongodb+srv://lwinmyoaung:069672@cluster0.p8crbam.mongodb.net/skweb?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_change_this_for_prod
NODE_ENV=production
CLIENT_URL=https://yourdomain.com
